snippet met
	public function ${1}() {
		${2}
	}
snippet pmet
	protected function ${1}() {
		${2}
	}
snippet smet
	public static function ${1}() {
		${2}
	}
snippet pvmet
	private function ${1}() {
		${2}
	}
snippet $
	$this->${1}
snippet di
	Debugbar::info(${1});
snippet de
	Debugbar::error(${1});
snippet dm
	Debugbar::addMessage(${1}, ${2});
snippet dw
	Debugbar::warning(${1});
